@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --blue-sapphire: #05668D;
    --steel-blue: #427AA1;
    --alice-blue: #EBF2FA;
    --maximum-green: #679436;
    --acid-green: #A5BE00;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--acid-green);
}

p {
    opacity: 0.8;
}
/* mobile menu  */
.nav-links {
    color: white;
    font-size: 24px;
    text-transform: uppercase;
}

.nav-btn {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 35px;
}

.open-nav {
    color: white;
    position: absolute;
    top: 25px;
    right: 10px;
}


.mobile {
    margin: auto;
    height: 100vh;
    transform: scale(0);
    overflow: hidden;
    display: none;
}

 .visible {
    width: 100vw;
    height: 100vh;
    display: block;
    position: absolute;
    opacity: .8;
    transform: scale(1);
}

.close-nav {
    color: white;
    opacity: 1;
    position: absolute;
    top: 25px;
    right: 10px;
    display: none;
    z-index: 2;
}

.logo {
   text-align: center; 
   background-color: var(--blue-sapphire);
   height: 85px;
}

.eis-logo {
    margin-top: 10px;
}

.nav ul {
    text-align: center;
    background-color: var(--blue-sapphire);
    height: 100vh;
}

.nav li {
    margin: 0px 0px 20px 0px;
    padding-top: 20px;
}

/* home styles  */

.home-image {
    width: 375px;
    height: 389px;
}

.heading-one {
    color: var(--blue-sapphire);
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    padding: 20px 0px;
}

.home-paragraph,
.heading-one,
#about {
    margin: 10px 15px;
}

.schedule-appointment-btn {
    text-align: center;
    margin: 35px 0px;
}

.appointment-btn {
    color: white;
    background-color: var(--acid-green);
    border: none;
    border-radius: 20px;
    width: 197px;
    height: 39px;
    font-size: 16px;
}

/* product cards  */
.product-card {
    margin: auto;
    width: 308px;
    height: 200px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card-container {
    position: relative;
    top: 25px;
}


.product-card p {
    font-size: 18px;
    font-weight: 700;
    color: black;
}

.product-icon {
    font-size: 82px;
    margin: 10px 0px;
}

.green {
    color: var(--acid-green);
}

.blue {
    color: var(--steel-blue);
}

/* about section  */

#about p,
.about-image {
    margin: 20px 0px;
}


#about h2 {
    text-align: center;
    margin: 10px 0px;
    color: var(--blue-sapphire);
}
